.vacancy {
  padding: vw(120px) 0;
  overflow: visible;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: vw(20px);

  @include Tablet {
    padding: vwt(80px) 0;
    display: flex;
    flex-direction: column;
  }

  &__info {
    gap: vw(80px);
    flex-direction: column;
    display: flex;
    height: fit-content;
    position: sticky;
    top: vw(72px);

    @include HD {
      top: vwh(72px);
    }

    @include Tablet {
      flex-direction: row;
      gap: vwt(16px);
      position: static;
      margin-bottom: vwt(60px);
    }

    @include Mobile {
      flex-direction: column;
    }
  }

  &__head {
    @include Tablet {
      width: 50%;
    }
    @include Mobile {
      width: 100%;
    }

    p {
      max-width: vw(580px);
      @include HD {
        max-width: vwh(580px);
      }
      @include Tablet {
        max-width: 100%;
      }
      @include Mobile {
        max-width: 100%;

      }
    }
  }

  h2 {
    margin-bottom: vw(40px);

    @include Tablet {
      margin-bottom: vwt(20px);
    }

    @include h2-b;
  }

  &__head p:last-child {
    @include t1;
  }

  &__conditions {
    display: flex;
    flex-direction: column;
    gap: vw(20px);

    @include Tablet {
      width: 50%;
    }
    @include Mobile {
      gap: vwm(20px);
      width: 100%;
      margin: vwt(40px) 0 0;
    }

    div {
      background: var(--main-black);
      padding: vw(40px);
      max-width: vw(580px);

      @include br-4;

      @include HD {
        max-width: vwh(520px);
      }
      @include Tablet {
        padding: vwt(20px);
        max-width: 100%;
      }
    }

    p {
      @include t2;
    }
  }

  &__conditions p:first-child {
    color: var(--text-icon-color1-light);
    font-family: Gogh;
    margin-bottom: vw(20px);

    @include h1-b;

    @include Tablet {
      margin-bottom: vwt(12px);
    }
  }

  &__conditions p {
    color: var(--main-bg-color)
  }

  &__photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: vw(40px);

    @include HD {
      overflow-x: hidden;
    }
    @include Tablet {
      flex-direction: row;
      overflow-x: scroll;
      gap: vwt(16px);
    }

    img {
      border-radius: vw(8px);

      @include Tablet {
        object-fit: cover;
      }
      @include Mobile {
        border-radius: vwm(8px);
      }
    }
  }
}