.footer {
  &__container {
    background-color: var(--main-black);
    padding: 80px 0;
  }

  &__bg {
    background-image: url(assets/images/footer/footer-main.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 8px;
  }

  &__form {
    background-color: #fff;
    padding: 20px 16px;
    border-radius: 8px;
  }

  &__head h2 {
    margin-bottom: 20px;
  }

  &__head p,
  &__head h2,
  &__social h4 {
    color: var(--main-bg-color);
  }

  &__social {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
  }
}

.social__links {
  justify-content: center;
}

.form {
  &__inputs {
    display: grid;
    gap: 12px;
  }

  &__inputs input {
    border: 2px solid var(--input-static);
    border-radius: 4px;
    padding: 12px 16px;
    width: 100%;
    height: 48px;
    box-sizing: border-box;

    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-icon-gray-dark);
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
  }

  &__checkbox {
    display: none;
  }

  &__btns button {
    background-color: var(--btn-primaty-static);
    height: 48px;
    color: var(--main-bg-color);
    border-radius: 4px;

    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
  }

  &__btns button:hover {
    background-color: var(--btn-primaty-hover);
  }

  &__btns button:active {
    background-color: var(--btn-primaty-press);
  }
}

input:user-invalid {
  border: 2px solid var(--input-error);
  outline: none;
}

.label__checkbox {
  display: flex;
  font-size: 14px;
  line-height: 150%;
  color: var(--text-icon-gray-dark);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  cursor: pointer;
  font-family: Raleway;
  font-weight: 400;
}

.checkbox-icon {
  width: 24px;
  height: 24px;
  //background-image: url('../assets/images/footer/check.svg');
  background-image: url('assets/images/footer/check.svg');
  background-size: contain;
  margin-right: 8px;
  flex-shrink: 0;
}

.checkbox,
.checkbox-icon:hover {
  background-image: url('assets/images/footer/check-hover.svg');
}

.default {
  background-image: url('assets/images/footer/check.svg');
}

.active {
  background-image: url('assets/images/footer/check-active_static.svg');
}

.active:hover {
  background-image: url('assets/images/footer/check-active_hover.svg');
}


@media(min-width: 768px) {
  .footer {
    &__bg {
      background-image: url('assets/images/footer/footer-main-tablet.svg');
    }

    &__links {
      display: flex;
    }
  }

  .form__inputs {
    grid-template-columns: 1fr 1fr;
  }

  .form {
    &__btns {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    &__btns button {
      width: 164px;
    }
  }
  .social__links {
    justify-content: flex-start;
  }
}

@media(min-width: 1024px) {
  .footer {
    &__container {
      padding: 160px 45px;
    }

    &__bg {
      background-image: url('assets/images/footer/footer-main-desctop.svg');
      width: 100%;
      max-width: 1276px;
      padding: 60px;
      margin: 0 auto;
    }
  }
}

@media(min-width: 1280px) {
  .footer {
    &__bg {
      display: grid;
      grid-template-columns: 4fr 7fr;
      column-gap: 48px;
      row-gap: 60px;
    }

    &__head {
      margin-bottom: 24px;
    }

    &__form {
      max-height: 264px;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      padding: 40px;
    }
  }
}

@media(min-width: 1440px) {
  .footer__bg {
    background-image: url('assets/images/footer/footer-main-full.svg');
    max-width: 1420px;
  }
}