.slider {
  padding: vw(120px) 0;

  @include HD {
    padding: vwh(120px) 0;
  }
  @include Tablet {
    padding: vwt(40px) 0 vwt(80px);
  }
  @include Mobile {
    padding: vwm(40px) 0 vwm(80px);
  }

  &__head {
    display: flex;
    justify-content: space-between;

    h2 {
      margin-bottom: vw(40px);
      @include h2;

      @include HD {
        margin-bottom: vwh(40px);
      }
      @include Tablet {
        margin-bottom: vwt(40px);
      }
      @include Mobile {
        margin-bottom: vwm(40px);
      }
    }
  }

  &__buttons {
    display: flex;
    gap: vw(12px);

    @include HD {
      gap: vwh(12px);
    }
    @include Tablet {
      display: none;
    }
    @include Mobile {
    }
  }

  &__button {
    width: vw(48px);
    height: vw(48px);
    background-color: var(--main-bg-color);
    box-shadow: 0 0 vw(20px) 0 #0D40401A;

    @include br-8;

    @include HD {
      width: vwh(48px);
      height: vwh(48px);
      box-shadow: 0 0 vwh(20px) 0 #0D40401A;
    }
    @include Tablet {
      width: vwt(48px);
      height: vwt(48px);
      box-shadow: 0 0 vwt(20px) 0 #0D40401A;
    }
    @include Mobile {
      width: vwm(48px);
      height: vwm(48px);
      box-shadow: 0 0 vwm(20px) 0 #0D40401A;
    }
  }

  &__text {
    position: absolute;
    background-color: #000;
    padding: vw(12px);
    z-index: 100;
    bottom: 0;
    width: 100%;

    @include t2-b;
    @include br-8;
    max-width: vw(340px);

    @include HD {
      padding: vwh(12px);
      max-width: vwh(304px);

    }
    @include Tablet {
      padding: vwt(12px);
      max-width: vwt(280px);
    }
    @include Mobile {
      padding: vwm(12px);
      max-width: vwm(280px);
    }
  }

  &__text p {
    color: var(--main-bg-color);
    text-align: center;
  }
}

.swiper__container {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
}

.swiper-wrapper {
  //gap: vw(16px);
  //
  //@include HD {
  //  gap: vwh(16px);
  //}
  //@include Tablet {
  //  gap: vwt(16px);
  //}
  //@include Mobile {
  //  gap: vwm(16px);
  //}
}

.swiper-slide {
  position: relative;
  //width: vw(340px) !important;
  //
  //@include HD {
  //  width: vwh(304px) !important;
  //}
  //@include Tablet {
  //  width: vwt(280px) !important;
  //}
  //@include Mobile {
  //  width: vwm(280px) !important;
  //}
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  width: 100%;

  @include br-8;
}

.swiper-pagination {
  display: none;
}

.swiper-slide:hover .slider__text {
  background-color: var(--btn-primaty-static);
}

.swiper-slide:active .slider__text {
  background-color: var(--btn-primaty-press);
}